.main-content.my-gap {
    padding: 20px;
}

.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 20px;
}

.restaurant-card {
    background-color: #afff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.restaurant-image {
    height: 200px;
    overflow: hidden;
}

.restaurant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restaurant-details {
    padding: 20px;
}

.restaurant-name {
    font-size: 20px;
    margin: 0;
}

.restaurant-rating {
    margin-top: 10px;
}

.rating {
    font-size: 16px;
    color: #ff3700;
}

.rating-count {
    font-size: 14px;
    color: #666;
}

.order-btn {
    margin: auto; 
    display: block; 
    padding: 10px 20px;
    background-color: rgb(171, 238, 247); 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease
}

.order-btn:hover {
    background-color: #19d2c3; 
}
